<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xcty.resolve.dao.mapper.TimeoutMapper" >
  <resultMap id="BaseResultMap" type="com.xcty.resolve.dao.entity.Timeout" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="passtime" property="passtime" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xcty.resolve.dao.entity.TimeoutWithBLOBs" extends="BaseResultMap" >
    <result column="param" property="param" jdbcType="LONGVARCHAR" />
    <result column="result" property="result" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, url, passtime, date, time
  </sql>
  <sql id="Blob_Column_List" >
    param, result
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_timeout
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_timeout
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!-- 批量插入 -->
  <insert id="insertTimeoutWithBLOBsBatch" parameterType="java.util.List">
    <selectKey resultType="java.lang.Integer" keyProperty="id"
               order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_timeout
    (url, param, result, passtime,date,time)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.url},
      #{item.param},
      #{item.result},
      #{item.passtime},
      #{item.date},
      #{item.time}
      )
    </foreach>
  </insert>

  <insert id="insert" parameterType="com.xcty.resolve.dao.entity.TimeoutWithBLOBs" >
    insert into t_timeout (id, url, passtime, 
      date, time, param, 
      result)
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{passtime,jdbcType=INTEGER}, 
      #{date,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{param,jdbcType=LONGVARCHAR}, 
      #{result,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xcty.resolve.dao.entity.TimeoutWithBLOBs" >
    insert into t_timeout
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="passtime != null" >
        passtime,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="param != null" >
        param,
      </if>
      <if test="result != null" >
        result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="passtime != null" >
        #{passtime,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="param != null" >
        #{param,jdbcType=LONGVARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xcty.resolve.dao.entity.TimeoutWithBLOBs" >
    update t_timeout
    <set >
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="passtime != null" >
        passtime = #{passtime,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="param != null" >
        param = #{param,jdbcType=LONGVARCHAR},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xcty.resolve.dao.entity.TimeoutWithBLOBs" >
    update t_timeout
    set url = #{url,jdbcType=VARCHAR},
      passtime = #{passtime,jdbcType=INTEGER},
      date = #{date,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      param = #{param,jdbcType=LONGVARCHAR},
      result = #{result,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xcty.resolve.dao.entity.Timeout" >
    update t_timeout
    set url = #{url,jdbcType=VARCHAR},
      passtime = #{passtime,jdbcType=INTEGER},
      date = #{date,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>